body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.class-1{
    color: cyan;
}
#id-1{
    border-left: 5px solid green;
}
.frist-section{
    display: flex;
    margin-bottom: 70px;
   
}
.frist-section-div{
    width: 50%;
    margin: 20px;
    padding: 20px;
}
.frist-section-div image{
    width: 40%;

}
.frist-section-div image{
    width: 50%;
}
.idea{
    text-decoration: none;
    background-image: linear-gradient(blue,cyan);
    padding: 10px 5px;
    border-radius: 5px;
}
.span-1{
    color: green;
}
.span-2{
    text-align: center;
}
#image-1{
    height: 110px;
    width: 80px;
}
.sifat{
    background-color: rgb(243, 196, 155);
}
.siam{
    background-color: rgb(184, 159, 159);
}
.nader{
    background-color: rgb(235, 189, 189);
}