body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.class-1{
    color: cyan;
}
#id-1{
    border-left: 5px solid green;
}
.first-section{
    display: flex;
    margin-bottom: 70px;
    

}
.first-section-div{
    width: 50%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.first-section-div image{
    width: 50%;
}
.idea{
    text-decoration: none;
    background-image: linear-gradient(blue,cyan);
    padding: 10px 5px;
    border-radius: 5px;
}
.span-1{
    color: green;
}
.span-2{
    text-align: center;
}
#image-1{
    height: 180px;
    width: 90px;
}
.sifat{
    background-color: rgb(243, 196, 155);
}
.siam{
    background-color: rgb(184, 159, 159);
}
.nader{
    background-color: rgb(235, 189, 189);
}
.second-section-div{
    width: 50%;
    padding: 10px;
}
.thrid-section-div-1{
    margin: 20px;
    padding: 30px;
    width: 50%;
}
.thrid-section-div-2{
    margin: 20px;
    padding: 50px;
    width: 50%;
}
.thrid-section-pic{
    width: 40%;
    padding: 20px;
}
.second-section{
    display: flex;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width image{
    width: 80px;
    height: 150px;
}
.thrid-pic{
    width: 40%;
}
#name{
    text-align: center;
}
.last-1{
    background-color: dodgerblue;
    border-radius: 10px;
}
#last{
    color: black;
    width: 60%;
    text-align: center;
}
.last-div{
    color: white;

}
.footer{
    background-color: black;
}
#name-1{
    color: blanchedalmond;
    text-align: center;
}
.RED{
    color: brown;
}
.gmail{
    color: cyan;
    text-align: center;
}
.class-3{
    border-radius: 10px;
}